<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <!-- Logo Here or Name -->
    <a class="navbar-brand" style="padding: 4px;" href="#">@ViewData["Title"]</a>
        
    <!-- Collapse plugin -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Home" ? "active" : "")" asp-controller="User" asp-action="Home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Reservation" ? "active" : "")" asp-controller="User" asp-action="Reservation">RESERVATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Billing" ? "active" : "")" asp-controller="User" asp-action="Billing">BILLING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Community" ? "active" : "")" asp-controller="User" asp-action="Community">COMMUNITY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Forum" ? "active" : "")" asp-controller="User" asp-action="Forum">FORUM</a>
            </li>
        </ul>
    </div>

    <div class="d-none d-sm-none d-md-flex flex-row">
        <div class="d-flex flex-column">
            <span style="color: white; font-family: 'Marvel', sans-serif;">
                @ViewData["FirstName"]
            </span>
            <small style="color: #656565; font-family: 'Marvel', sans-serif;">User</small>
        </div>
        <!-- Notifications -->
        <img src="~/images/bell.png" alt="Notification" style="width: 30px; height: 30px;">
    </div>
</nav>
